*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f2ef;
}
:root {
  --white: #fff;
  --border-clr: #00000014;
  --primary-clr: rgba(0, 0, 0, 0.6);
  --text-clr: #24292f;
}

.d-flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}
.mt-100 {
  margin-top: 100px;
}