.header-container {
  height: 60px;
  padding: 0 6%;
  background-color: var(--white);
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: 1px solid var(--border-clr);
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.main-logo {
  cursor: pointer;
}
.header-right > div {
  margin: 0 20px;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-clr);
  cursor: pointer;
}

.header-right a {
  text-decoration: none;
  color: var(--primary-clr);
}
.header-right a:hover {
  color: black;
}
.search-bar {
  position: relative;
}

.search-results {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-left: 7px;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 100;
}

.search-results-border {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.search-dailog-container {
  min-height: 500px;
}
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background-color: rgba(111, 126, 140, 0.2) !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  box-shadow: rgb(62 80 96 / 20%) 0px 4px 20px !important;
  border-radius: clamp(0px, (100vw - 750px) * 9999, 10px) !important;
  min-width: 700px;
}
.search-box {
  border-bottom: 1px solid rgb(224, 227, 231);
  padding: 10px;
  display: flex;
  align-items: center;
  height: 70px;
}

.search-icon {
  margin-right: 10px;
}

.search-input {
  appearance: none;
  background: transparent;
  border: 0;
  padding-left: 20px;
  flex: 1;
  font-size: 1.2em;
  height: 100%;
  outline: none;
  padding: 0 0 0 8px;
}

.search-body {
  padding: 10px;
  word-break: break-all;
  margin-top: 20px;
}
.search-body a {
 text-decoration: none;
 color: rgb(16, 16, 16);

}
.card-container {
  border: 1px solid rgb(0, 114, 229);;
  padding: 0 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  line-height: 30px
}
.card-container:hover {
  background-color: #abccff80
}
.search-body a:hover {
  color: rgb(79, 159, 239);
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.no-resutls {
  text-align: center;
  margin-top: 30px;
}
.single-product-container {
  width: 40%;
  margin: auto;
  line-height: 30px;
}
.comments {
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 5px;

}
.comments  strong {
  margin-right: 10px;
  font-size: 20px;
}
.comments-container {
  max-height: 500px;
  overflow-y: scroll;
  }